pillow
PyQt6
PySide6
aiohttp
astral
opencv-python
flask
googletrans
groq
keyboard
matplotlib
numpy
obsws-python
pydub
pygame
pyglet
pymunk
pypresence
pytweening
pytz
pyvirtualcam
reportlab
requests
scipy
sounddevice
sympy
trimesh
websockets
