absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
altgraph==0.17.4
annotated-types==0.7.0
anyascii==0.3.3
anyio==4.12.0
arcade==3.3.3
argostranslate==1.11.0
astral==3.2
async-timeout==3.0.1
attrs==25.4.0
audioread==3.1.0
av==16.0.1
babel==2.17.0
bangla==0.0.5
beautifulsoup4==4.14.2
bidict==0.23.1
black==26.5.1
blinker==1.9.0
blis==1.3.3
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
casttube==0.2.1
catalogue==2.0.10
catt==0.13.1
certifi==2025.10.5
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.4
click==8.1.8
cloudpathlib==0.23.0
colorama==0.4.6
coloredlogs==15.0.1
colorutilsqt==0.1.4
comtypes==1.4.14
confection==0.1.5
contourpy==1.3.3
coqpit==0.0.17
cryptography==46.0.3
ctranslate2==4.7.1
cycler==0.12.1
cymem==2.0.13
Cython==3.2.0
dataclasses-json==0.6.7
datasets==4.4.1
dateparser==1.1.8
decorator==5.2.1
deep-translator==1.11.4
Deprecated==1.3.1
diffusers==0.36.0
dill==0.4.0
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
docstring-to-markdown==0.17
dotenv==0.9.9
easyocr==1.7.2
einops==0.8.1
emoji==2.15.0
encodec==0.1.1
eventlet==0.40.4
faster-whisper==1.2.1
filelock==3.20.0
Flask==3.1.2
flask-cors==6.0.5
Flask-SocketIO==5.6.0
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.10.0
g2pkk==0.1.2
git-filter-repo==2.47.0
glcontext==3.0.0
glfw==2.10.0
gmpy2==2.3.0
google-api-core==2.33.0
google-api-python-client==2.198.0
google-auth==2.56.2
google-auth-httplib2==0.4.0
google-crc32c==1.8.0
googleapis-common-protos==1.75.0
googletrans==4.0.2
greenlet==3.3.1
groq==1.1.2
grpcio==1.76.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gTTS==2.5.4
h11==0.16.0
h2==4.3.0
hangul-romanize==0.1.0
hpack==4.1.0
httpcore==1.0.9
httpcore2==2.9.1
httplib2==0.32.0
httpx==0.28.1
httpx2==2.9.1
huggingface-hub==0.36.0
humanfriendly==10.0
hyperframe==6.1.0
idna==3.18
ifaddr==0.2.0
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
inflect==7.5.0
iso8601==2.1.0
itsdangerous==2.2.0
jamo==0.4.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.2
jsonlines==1.2.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
KahootPY==0.1.4
keyboard==0.13.5
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.46.0
Markdown==3.10
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
mcp==2.0.0
mcp-types==2.0.0
mediapipe==0.10.35
minisbd==0.9.5
ml_dtypes==0.5.4
moderngl==5.12.0
more-itertools==10.8.0
MouseInfo==0.1.3
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.2
mss==10.1.0
multidict==6.7.0
multiprocess==0.70.18
murmurhash==1.0.15
mypy_extensions==1.1.0
networkx==3.6.1
ninja==1.13.0
nltk==3.9.2
Nuitka==2.7.16
num2words==0.5.14
numba==0.63.1
numpy==2.2.6
obsws-python==1.8.0
ollama==0.6.1
onnx==1.20.0
onnxruntime==1.23.2
onnxruntime-directml==1.23.0
onnxslim==0.1.82
opencv-contrib-python==4.12.0.88
opencv-python==4.13.0.92
opentelemetry-api==1.44.0
ordered-set==4.1.0
packaging==25.0
Panda3D==1.10.15
panda3d-gltf==1.3.0
panda3d-simplepbr==0.13.1
pandas==2.2.2
parso==0.8.7
pathspec==1.1.1
pefile==2023.2.7
pillow==11.3.0
platformdirs==4.5.1
pluggy==1.6.0
plyer==2.1.0
polars==1.36.1
polars-runtime-32==1.36.1
pooch==1.8.2
preshed==3.0.12
proglog==0.1.12
propcache==0.4.1
proto-plus==1.28.2
protobuf==7.35.1
psutil==7.1.1
pyarmor==9.1.9
pyarmor.cli.core==7.6.8
pyarrow==22.0.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
PyAudioWPatch==0.2.12.8
PyAutoGUI==0.9.54
PyChromecast==14.0.9
pyclipper==1.4.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
pyee==13.0.0
pygame==2.6.1
pygbag==0.9.3
PyGetWindow==0.0.9
pyglet==2.1.12
pyglm==2.8.3
pygltflib==1.16.5
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyJWT==2.13.0
pylibsrtp==1.0.0
pymitter==1.1.3
PyMsgBox==2.0.1
pymunk==6.9.0
pyNES==0.1.1
pynndescent==0.6.0
pyopencl==2026.1.2
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pyopengltk==0.0.4
pyOpenSSL==25.3.0
pyparsing==3.3.1
pyperclip==1.11.0
pypinyin==0.55.0
pypiwin32==223
pypresence==4.6.1
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pyreadline3==3.5.4
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==1.0.1
PySDL2==0.9.17
pysdl2-dll==2.32.0
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pystyle==2.9
pytchat==0.5.5
pytesseract==0.3.13
python-bidi==0.6.7
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.13.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
python-multipart==0.0.32
python-socketio==5.16.0
pytiled_parser==2.2.9
pytokens==0.4.1
pytools==2026.1.1
pyttsx3==2.99
pytweening==1.2.0
pytz==2025.2
pyvirtualcam==0.15.0
PyWavefront==1.3.3
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
RapidFuzz==3.14.3
referencing==0.37.0
regex==2025.11.3
reportlab==4.5.0
requests==2.34.2
resampy==0.4.3
rpds-py==2026.6.3
sacremoses==0.1.1
safetensors==0.7.0
scikit-image==0.26.0
scikit-learn==1.7.2
scipy==1.16.3
screeninfo==0.8.1
sentence-transformers==5.1.2
sentencepiece==0.2.1
shapely==2.1.2
shiboken6==6.11.1
simple-websocket==1.1.0
siphash24==1.8
six==1.17.0
smart_open==7.5.0
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
sse-starlette==3.4.8
stanza==1.10.1
starlette==1.4.1
SudachiDict-core==20251022
SudachiPy==0.6.10
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thinc==8.3.10
threadpoolctl==3.6.0
tifffile==2026.3.3
tokenizers==0.22.1
torch-directml==0.2.5.dev240914
torchaudio==2.4.1+cu118
torchvision==0.19.1
tqdm==4.67.1
trainer==0.0.36
transformers==4.57.3
trimesh==4.10.1
truststore==0.10.4
TTS==0.22.0
twitchio==2.1.1
typeguard==4.4.4
typer-slim==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
ujson==5.12.1
ultralytics==8.3.246
ultralytics-thop==2.0.18
umap-learn==0.5.11
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.5.0
ursina==7.0.0
user_agent==0.1.14
uvicorn==0.52.1
wasabi==1.1.3
weasel==0.4.3
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
winotify==1.1.0
wrapt==2.0.1
wsproto==1.3.2
xxhash==3.6.0
yarl==1.22.0
yt-dlp==2025.10.22
zeroconf==0.148.0
zipp==3.23.0
zstandard==0.25.0
